<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Loop adds events to your calendar when you tap "Add to Calendar."</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Loop uses your location to show events happening nearby.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
